<!DOCTYPE html>
<html class="login-page">

<head>
    <title>Home</title>
    <link rel="icon" type="img" href="/public/images/calendarview.png">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/login.css">
    <link rel="stylesheet" type="fonts" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta charset="utf-8">

</head>

<body>
    <div class="login_container">
        <div class="login_container1">
            <h1 id="head1">Welcome to <span style="font-size:50px;font-style: oblique;
                font-family:cursive ;color:#0871ED">Calendar</span></h1>
            <h2 id="head2">Calender makes your life more easier </h2>

        </div>
        <div class="a login_container2">
            <img class="calendarview" src="/public/images/calendarview.png">
        </div>
        <div class="login_botton"> 
            <button id='login_button1' alt="">LOGIN NOW</button>
        </div>
        
    </div>
</body>
<footer>

</footer>
